<form
  class="form"
  #form
  [formGroup]="movieForm"
  (submit)="onSubmit(movieForm.value)"
>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Название</mat-label>
      <input
        matInput
        placeholder="Матрица"
        formControlName="title"
        matInputAutofocus
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Жанр</mat-label>
      <input matInput placeholder="Боевик" formControlName="genre" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Страна</mat-label>
      <input matInput placeholder="США" formControlName="country" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Длительность</mat-label>
      <input matInput placeholder="136" formControlName="duration" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Оценка</mat-label>
      <input matInput placeholder="5" formControlName="rating" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Отзыв</mat-label>
      <textarea
        matInput
        placeholder="Краткое ревью фильма"
        formControlName="review"
        cdkTextareaAutosize
        cdkAutosizeMaxRows="8"
      ></textarea>
    </mat-form-field>
  </p>

  <div *ngIf="id" class="buttons">
    <button mat-button (click)="updateMovie()" type="submit">Сохранить</button>
    <button mat-button type="text" (click)="goBack()">Отменить</button>
  </div>
  <div *ngIf="!id" class="buttons">
    <button mat-button (click)="addMovie()" type="submit">Добавить</button>
    <button mat-button [mat-dialog-close]="" type="text">Закрыть</button>
  </div>
</form>
