<div class="form">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Название</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Standard form field</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </p>
</div>
